@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

*, pre {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div.top-container {
    width: 1000px;
    margin: 30px auto;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.homeLogo {
    width: 40px;
    height: auto;
}

h2 {
    font-weight: 600;
    font-size: 35px;

    display: inline-block;
    padding: 15px;
}

div.gnb {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

ul, li {
    display: inline-block;
    padding: 0 20px;
    list-style-type: none;
}

a {
    display: inline-block;
    width: auto;
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    color: black;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border-color: dodgerblue;
    padding-left: 10px;
}

table {
    width: 1000px;
    margin: 0 auto;
}

th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
th {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

td {
    text-align: center;
    padding: 10px;
}