@charset "UTF-8";
@import "../main.css";

div.content {
    width: 1000px;
    margin: 0 auto;
}

div.table-top-bar {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

div.search-bar {
    width: 550px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
}

#searchThyeme {
    width: 150px;
    height: 35px;
    border: 0px;
    padding-left: 5px;
    outline: 1px solid dodgerblue;
    border-radius: 10px;
    font-size: large;
}

.larger {
    font-size: large;
}

div.board-table {
    margin-top: 20px;
}

.no, .writer, .hitCount {
    width: 100px;
}

.createdAt {
    width: 200px;
}

div.writer-container {
    width: 1000px;
    margin: 20px auto;
    text-align: right;
}

nav.pagination {
    width: 500px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content :space-between
}